body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgreen;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}

.solid-bottom-border {
    border-bottom: 1px solid #000;
    width: 50%;
    margin: auto;
    padding: 15px;
    margin-bottom: 15px;
}